.list-app input{
    height: 20px;
    width: 250px !important;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
    padding: 3px 10px;
    margin: 0px 10px 0px 0px;
    border-radius: 4px;
}
.list-app button{
    color: #fff;
    background-color: #fa4f60;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
}